body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}
table {
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: #fff;
}
th {
    background-color: #696969;
    color: #fff;
    cursor: pointer;
}
td {
    background-color: #f3f3f3;
}
th, td {
    padding: 10px 20px;
    border: 1px solid black;
}